<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HotelMapper">

    <sql id="hotelColumn">
        city,
        `name`,
        address,
        zip
    </sql>

    <select id="getPageHotel" resultType="com.entity.Hotel" parameterType="java.util.Map">

        SELECT
        <include refid="hotelColumn"/>
        from hotel
            limit
            <if test="offset != null">#{offset}</if>
            <if test="pagesize != null">,#{pagesize}</if>
    </select>

    <select id="getPageHotelCount" resultType="java.lang.Integer">
        select count(1) from hotel

    </select>

</mapper>