<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CityMapper">

    <sql id="cityColumn">
        id,
        `name`,
        state,
        country
    </sql>

    <select id="getCityList" resultType="com.entity.City">

        SELECT
        <include refid="cityColumn"/>

        from city

    </select>

</mapper>